@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none!important;
}

body, #container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../img/background.png) center;
  background-color: #262626;
  color: #d1d5db;
  overflow: hidden;
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: transparent;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-right: 1px solid #383838;
  transition: all 0.4s ease;
  overflow: hidden;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 16px 0 16px
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover, .active {
  background-color: #0d6efd;
}

#logout-btn:hover {
  opacity: .8;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #d1d5db;
}
.nav-link .link {
  font-size: 16px;
  color: #d1d5db;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link, .active .link, .active .icon {
  color: #fff;
}

ol, ul {
  padding-left: 0;
}

/* Dashboard */

.dashboard {
  width: 100vw;
  position: relative;
  display: flex;
  height: 100vh;
  left: 125px;
  flex-direction: column;
  justify-content: center;
}

.accountInfo {
  display: flex;
  justify-content: space-between;
}

#username {
  font-size: 16pt;
  color: #d1d5db;
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 16px;
  white-space: nowrap;
}

/* toasts */

  sp-toast {
    background-color: #999999;
    font-size: 11pt;
    color: #fff;
    border: solid 1.3px #666666;
    width: 17rem;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 4px;
    margin-bottom: 0.2rem;
  }

  sp-toast[variant="error"] {
    background-color: #ff444429;
    border: solid 1.3px #d91a1a73;
  }
  sp-toast[variant="error"] i {
    color: #ff4444;
  }
  sp-toast[variant="success"] {
    background-color: #00c85129;
    border: solid 1.3px #00c851a6;
  }
  sp-toast[variant="success"] i {
    color: #00c851;
  }
  i {
    margin-right: 0.9rem;
  }
  
  .spectrum-Toast--cta {
    background-color: #0f0;
    color: #000;
  }

  #toast-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    top: 2rem;
}

/* Forms */

.form-control {
  color: #d1d5db;
  background-color: #ffffff1a;
  border: none;
}

.form-control:disabled, .form-control[readonly] {
  color: #d1d5db96;
  background-color: #ffffff1a;
  border: none;
}

.form-control:focus {
  color: #d1d5db;
  background: #ffffff1a;
  box-shadow: 0 0 0 0.1rem rgb(148 148 148 / 25%);
}

#cadastroForm, #loginForm, .box-container {
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 8px;
  border: 1px solid #383838;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

span {
  font-weight: 300;
  font-size: 11pt;
}
  
input:invalid,  input:invalid .form-control:focus{
  background-color: #ff41410d!important;
  box-shadow: 0 0 0 0.1rem #ff41413a!important;
}

input:invalid + i{
  color: #ff41418c!important;
}

.pass-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pass-input i{
  color: #606060;
  position: absolute;
}
.pass-input i:hover{
  cursor: pointer;
}
.passwordInput {
  padding-right: 44px;
}
input[type="password"]:hover + .toggle-password {
  display: block;
}


@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
  .dashboard {
    left: 0;
  }
}